#heading,#unique {
    color: blue; 
        }
.saibal{
    font-size: 20px;
    color: green;  
}
#first, #second {
    color: blue;
    
}
.select{
    color: rgb(241, 57, 217)
}
div div{
    color: yellowgreen;
}